.nav{
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav_inverse{
  background-color:#222;
  border-color: #090909;
}

header{
    color:white;
}

span {
  font-size: 20px;
  padding-top: 10px;
}

.nav_top{
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container{
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav_left{
  float: left !important;
}

.navber_nav{
  float: left;
  margin: 0;
  margin: 7.5px -15px;
}

.nav_right {
  float: right !important;
  margin-right: -15px;
}

.navber_nav>li{
    float:left;
}

.nav>li{
    position: relative;
    display: block;
}