header .navbar-left span{
    font-size:20px;
    color:white;
}

a{
    font-size: 13px;
}

.body{
    margin-top:51px;
}

#notice{
    color:green;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

a:visited {
    color: #666;
}
